@CHARSET "ISO-8859-1";

section{
		
		background-color:green;
}
   .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  img{
  height: 345px;
  }