@CHARSET "ISO-8859-1";

body{		
		background-color:#cccccc;
}
.navbar{
  	margin:10px;
  	height:70px;
}
.content{

}

.sidenav{
  background-color: aqua;
}
.atv{
	border: solid;
	margin-left: 5px;
}
#icon-facebook{
	width: 40px;
}
.img-responsive{
	display: block;
	position:relative;
	max-width: 50%;
	height:auto;
}
.logo{
	width: 70px;
	height: auto;
	position: relative;
}