@CHARSET "ISO-8859-1";

body{		
		background-color:	#f2f2f2;
}
.navbar{
  	margin:10px;
  	height:70px;
}
.content{

}

.sidenav{
  background-color:#333333;
  height: 720px;
}
.atv{
	border: solid;
	margin-left: 5px;
	padding: 10px;
}
#icon-facebook{
	width: 40px;
}
.img-responsive{
	display: block;
	position:relative;
	max-width: 50%;
	height:auto;
}
.logo{
	width: 70px;
	height: auto;
	position: relative;
}
.img{
	margin:20px;
}

.perfilbox{
	background-color: ccffff;
}