@CHARSET "ISO-8859-1";

body{		
		background-color:#d7d7d7;
}
.navbar{
  	margin:10px;
}
.content{

}

.sidenav{
  background-color: aqua;
}
.atv{
	border: solid;
	margin-left: 5px;
}
#icon-facebook{
	width: 20px;
}
.img-responsive{
	display: block;
	position:relative;
	max-width: 50%;
	height:auto;
}